/* toduo navmenu */

html, body {
    height: 100%;
    /*font-family: roboto;*/
    /*font-size: 13px;*/
    /*line-height: 1.42857143;*/
    /*color: #5e5e5e;*/
    /*background-color: #edecec;*/
}
body {
    /*padding: 50px 0 0 0;*/

}

.navmenu {
    padding-top: 50px;
}

.navbar {
    display: block;
    height: 60px;
}
/* TODO: remember to put in vendor prefixes */
/*html.mm-opened nav#nav-auth button.navbar-toggle,*/
/*html.mm-opened nav#nav-auth a.navbar-brand*/
nav#nav-auth.mm-opened button.navbar-toggle,
nav#nav-auth.mm-opened a.navbar-brand
{
    /*opacity:0;*/
    /*transition:opacity 0.15s linear;*/
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 0.15s,opacity 0.15s linear;
}
nav#nav-auth.mm-closed button.navbar-toggle,
nav#nav-auth.mm-closed a.navbar-brand
{
    visibility:visible;
    opacity:1;
    transition-delay:0.20s;
}

/*a.navbar-brand nav#nav-auth nav.mm-opened {*/
    /*opacity:1;*/
    /*transition:opacity 0.35s linear;*/
/*}*/


/*.navbar-brand {*/
    /*display: inline-block;*/
    /*float: none;*/
    /*margin-top: 10px;*/
    /*font-size: 20px;*/
/*}*/

.navbar-toggle {
    position: absolute;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}

#headerunauth .btn-primary-orange {
    margin-left: 10px;
}

a#signin,a#signin:hover,a#signin:focus,
a#signup,a#signup:hover,a#signup:focus {
    color: #999;
}

/*.navbar.navbar, .navbar-default.navbar {*/
    /*background-color: #4285f4;*/
    /*color: rgba(255, 255, 255, 0.84);*/
/*}*/

.container {
    max-width: 100%;
    min-height: 100vh;
    background-color: #ececec;
    /*background-color: #C1C1C1;*/
}
.container.mktg {
    min-width: 100%;
}

/* mmenu overrides */
@media all and (min-width: 750px) {

    .content {
        background: none;
    }
    .navbar-toggle {
        display: none;
        visibility:hidden;
        opacity:0;
        transition:visibility 0s linear 0.15s,opacity 0.15s linear;
    }
    .navbar-brand {
        margin-left: 5px;
    }
    #nav-auth.navbar {
        box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    }
}
@media all and (max-width: 749px) {
    /*a[href="#menu"] {*/
    /*display: none;*/
    /*}*/
    .content {
        background: none;
    }
    .navbar-toggle {
        display: block;
        visibility:visible;
        opacity:1;
        transition-delay:0.20s;
    }
    a.navbar-brand {
        margin-left: 55px;
    }

    .mm-menu {
        z-index: 0;
        overflow: visible;
    }
    .mm-menu.mm-offcanvas {
        display: block;
        position: fixed;
    }
    /*.mm-slideout {*/
    /*-webkit-transform: translate(80%, 0);*/
    /*-moz-transform: translate(80%, 0);*/
    /*-ms-transform: translate(80%, 0);*/
    /*-o-transform: translate(80%, 0);*/
    /*transform: translate(80%, 0);*/
    /*}*/
}

@media (max-width: 1199px) {
    .navbar .navbar-brand {
        height: 60px;
        padding: 15px 15px;
    }
    .navbar .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
.mm-menu {
    background-color: #ececec;
}
.mm-page {
    min-height: 100vh;
}
/*this keeps menu from flickering on load*/
.before-move {
    display:none;
}
.mm-listview {
    font-size: 18px;
}

/* jasny overrides */
/*.navmenu-default, .navbar-default .navbar-offcanvas {*/
/*background-color: transparent;*/
/*border-color: #e7e7e7;*/
/*}*/
.navmenu, .navbar-offcanvas {
    width: 20%;
    height: auto;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}
.navmenu-brand {
    padding: 5px 15px;
}

.mm-menu.mm-widescreen {
    margin-top: 60px;
}


        /* menuitem colors and spacing*/
.mm-listview a {
    text-decoration: none;
}
.mm-listview li {
    margin: 0px 10px;
    color: #757575;
    font-weight: 400;
}
/* mmenu arrows (make darker) */
.mm-menu .mm-listview > li > a.mm-prev, .mm-menu .mm-listview > li > a.mm-next {
    color: rgba(0, 0, 0, 0.4);
}
.mm-menu .mm-header .mm-btn:before, .mm-menu .mm-header .mm-btn:after {
    border-color: rgba(0, 0, 0, 0.4);
}
.mm-menu .mm-header > a {
    color: rgba(0, 0, 0, 0.4);
}
/*remover arrow left border */
.mm-listview .mm-next:before {
    border-left-style: none;
}
.mm-md {
    margin-left: 10px;
    margin-right: 24px;
    font-size: 22px;
}
li.mm-item li.active {
    background-color: rgba(0,0,0,.05);
}
/*navbar li dark bg on hover removed */
/*li:hover {*/
/*background-color: rgba(0,0,0,.035);*/
/*}*/
li.mm-item:hover {
background-color: rgba(0,0,0,.035);
}
#nav-auth {
    background-color: #2196F3;
    color: rgba(255, 255, 255, 0.84);
}
#nav-logo {
    background-color: #1976D2;
    color: rgba(255, 255, 255, 0.84);
}
.blue-400-bg {
    background-color: #42A5F5;
}
.blue-500-bg {
    background-color: #2196F3 !important; /*Blue 500*/
}
.blue-700-bg {
    background-color: #1976D2 !important; /*Blue 700*/
}
.green-500-bg {
    background-color: #4CAF50 !important; /*Green 500*/
}
.green-700-bg {
    background-color: #388E3C !important; /*Green 700*/
}
.red-500-bg {
    background-color: #F44336 !important; /*Red 500*/
}
.red-700-bg {
    background-color: #D32F2F !important; /*Red 700*/
}
.orange-500-bg {
    background-color: #FF9800 !important; /*Orange 500*/
}
.orange-700-bg {
    background-color: #F57C00 !important; /*Orange 700*/
}
.cyan-500-bg {
    background-color: #00BCD4 !important; /* Cyan 500 */
}
.cyan-700-bg {
    background-color: #0097A7 !important; /* Cyan 700 */
}
.purple-500-bg {
    background-color: #9C27B0 !important;  /*Purple 500*/
}
.purple-700-bg {
    background-color: #7B1FA2 !important;  /*Purple 700*/
}
.pink-500-bg {
    background-color: #E91E63 !important; /*Pink 500*/
}
.pink-700-bg {
    background-color: #C2185B !important; /*Pink 700*/
}
.brown-500-bg {
    background-color: #795548 !important; /* Brown 500*/
}
.brown-700-bg {
    background-color: #5D4037 !important; /* Brown 700*/
}
.deep-purple-500-bg {
    background-color: #673AB7 !important; /* Deep Purple 500 */
}
.deep-purple-700-bg {
    background-color: #512DA8 !important; /* Deep Purple 700 */
}
.teal-500-bg {
    background-color: #009688 !important; /*Teal 500*/
}
.teal-700-bg {
    background-color: #00796B !important; /*Teal 700*/
}
.indigo-500-bg {
    background-color: #3F51B5 !important; /*Indigo 500*/
}
.indigo-700-bg {
    background-color: #303F9F !important; /*Indigo 700*/
}
.blue-500 {
    color: #2196F3 !important; /*Blue 500*/
}
.blue-700 {
    color: #1976D2 !important; /*Blue 700*/
}
.green-500 {
    color: #4CAF50 !important; /*Green 500*/
}
.green-700 {
    color: #388E3C !important; /*Green 700*/
}
.red-500 {
    color: #F44336 !important; /*Red 500*/
}
.red-700 {
    color: #D32F2F !important; /*Red 700*/
}
.orange-500 {
    color: #FF9800 !important; /*Orange 500*/
}
.orange-700 {
    color: #F57C00 !important; /*Orange 700*/
}
.cyan-500 {
    color: #00BCD4 !important; /* Cyan 500 */
}
.cyan-700 {
    color: #0097A7 !important; /* Cyan 700 */
}
.purple-500 {
    color: #9C27B0 !important;  /*Purple 500*/
}
.purple-700 {
    color: #7B1FA2 !important;  /*Purple 700*/
}
.pink-500 {
    color: #E91E63 !important; /*Pink 500*/
}
.pink-700 {
    color: #C2185B !important; /*Pink 700*/
}
.brown-500 {
    color: #795548 !important; /* Brown 500*/
}
.brown-700 {
    color: #5D4037 !important; /* Brown 700*/
}
.deep-purple-500 {
    color: #673AB7 !important; /* Deep Purple 500 */
}
.deep-purple-700 {
    color: #512DA8 !important; /* Deep Purple 700 */
}
.teal-500 {
    color: #009688 !important; /*Teal 500*/
}
.teal-700 {
    color: #00796B !important; /*Teal 700*/
}
.indigo-500 {
    color: #3F51B5 !important; /*Indigo 500*/
}
.indigo-700 {
    color: #303F9F !important; /*Indigo 700*/
}



/* styles added to support signin/signup */


.form-auth
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-auth p {
    text-align: center;
}
.form-auth .form-auth-heading, .form-auth .checkbox
{
    margin-bottom: 10px;
}
.form-auth .checkbox
{
    font-weight: normal;
}
.form-auth .checkbox input[type="checkbox"], .form-auth .checkbox-inline input[type="checkbox"] {
    position: relative;
    margin-top: 4px;
    margin-left: 0px;
}
.form-auth .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    /*padding: 10px;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-auth .form-control:focus
{
    z-index: 2;
}
.form-auth div.form-group input[type="email"],
.form-auth div.form-group input[type="text"],
.form-auth div.form-group input[type="password"]
{
    /*margin-bottom: -1px;*/
    margin-bottom: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-auth div.form-group:last-of-type
{
    margin-bottom: 10px;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.auth-title {
    color: #555;
    font-size: 30px;
    font-weight: 400;
    display: block;
}
.auth-logo
{
    margin-top: 20px;
    font-size: 30px;
}
.auth-slogan
{
    font-size: 24px;
}
.auth-instructions
{
    font-size: 18px;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.profile-img-sml
{
    width: 32px;
    height: 32px;
    margin-top: 10px;
    margin-left: 5px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
.at-sep {
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    /*color: #555;*/
}
.at-sep > p {
    /*color: #aaa;*/
    vertical-align: bottom;
}
.at-sep:before {
    left: -60%;
}
.at-sep:after {
    right: -60%;
}
.at-sep:before, .at-sep:after {
    display: block;
    content: " ";
    border-bottom: 1px solid #ddd;
    width: 100%;
    position: absolute;
    top: 48%;
}

/* bootstrap overrides */
.form-auth .form-group {
    margin-bottom: 0px;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.text-muted {
    color: #999;
}
.social-buttons {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.social-auth-btn {
    margin: 5px;
    width: 20%;
    font-size: 250%;
    padding: 0;
    color: #fff !important;
    padding: 5px 12px;
}
.social-auth-btn:hover {
    color: #fff !important;
}
.social-google {
    background-color: #da573b !important;
    border-color: #be5238 !important;
}
.social-google:hover{
    background-color: #be5238 !important;
    border-color: #9b4631 !important;
}

.social-twitter {
    background-color: #1daee3 !important;
    border-color: #3997ba !important;
}
.social-twitter:hover {
    background-color: #3997ba !important;
    border-color: #347b95 !important;
}

.social-facebook {
    background-color: #4c699e !important;
    border-color: #47618d !important;
}
.social-facebook:hover {
    background-color: #47618d !important;
    border-color: #3c5173 !important;
}

.social-linkedin {
    background-color: #4875B4 !important;
    border-color: #466b99 !important;
}
.social-linkedin:hover {
    background-color: #466b99 !important;
    border-color: #3b5a7c !important;
}

/* to make top-menu fit ... overrides */
a, a:hover, a:focus {
    color: #fff;
}
