<template name="header-unauth">
    <nav id="navx" class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Toduo</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a id="signin" href="#">SIGN IN</a></li>
                <li><button class="btn btn-material-blue-400">Sign up</button></li>
            </ul>
        </div>
    </nav>
</template>