<head>
    <title>jasny-meteor</title>
</head>

<body>

</body>
<template name="layout">
    {{> Template.dynamic template=header}}
    {{> Template.dynamic template=content}}
    {{#if isReady "menuItems"}}
        {{>menu}}
    {{else}}
        Loading ...
    {{/if}}
</template>

<template name="layout-unauth">
    {{> Template.dynamic template=header}}
    {{> Template.dynamic template=content}}
</template>

<template name="header-unauth">
    <nav id="navx" class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Toduo</a>
        </div>
        <div class="nav navbar-nav collapse navbar-collapse navbar-right">
            {{> loginButtons}}
        </div>
    </nav>
</template>
<template name="header">
    <nav id="navx" class="navbar navbar-default navbar-fixed-top">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-target=".navmenu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Toduo</a>
        </div>
        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</template>

<template name="content">

    <div class="container" style="background-color: lightgreen">
        <p style="vertial-align: middle; text-align: center; width: 100%; margin-top: 200px;">hello world</p>
    </div>

</template>
<template name="content-mktg">

    <div class="container mktg" style="background-color: lightblue">
        <p style="vertial-align: middle; text-align: center; width: 100%; margin-top: 200px;">welcome to toduo</p>
    </div>

</template>

<template name="menu">
    <nav id="menu" class="before-move">
        <ul>
            {{#each menuitems}}
                {{> menuitem}}
            {{/each}}
        </ul>
    </nav>

</template>

<template name="menuitem">

    <li><a href="#/"><i class="md {{icon}}"></i> {{text}}</a>
    {{#if this.subitems.length}}
    <ul>
        {{#each this.subitems}}
            {{> submenuitem}}
        {{/each}}
    </ul>
    {{/if}}
    </li>
</template>

<template name="submenuitem">
    <li><a href="#/"><i class="md {{icon}}"></i> {{text}}</a></li>
</template>
