<head>
    <title>jasny-meteor</title>
</head>

<body>

</body>

<template name="layout-auth">
    {{> Template.dynamic template=header}}
    {{> Template.dynamic template=content}}
    {{#if isReady "menuItems"}}
        {{>menu}}
    {{else}}
        Loading ...
    {{/if}}
</template>


<template name="layout-unauth">
    {{> Template.dynamic template=header}}

    {{> Template.dynamic template=content}}

</template>


<template name="app">

    <div class="container" style="background-color: lightyellow">
        <p style="vertial-align: middle; text-align: center; width: 100%; margin-top: 200px;">hello world</p>
    </div>

</template>

<template name="content-mktg">

    <div class="container mktg" style="background-color: lightblue">
        <p style="vertial-align: middle; text-align: center; width: 100%; margin-top: 200px;">welcome to toduo</p>
    </div>

</template>


