<template name="layoutmenu">
    {{#if isReady "menuItems"}}
        {{>menu}}
    {{else}}
        Loading ...
    {{/if}}
</template>

<template name="menu">
    <nav id="menu" class="before-move">
        {{>logo}}
        <ul>
            {{#each menuitems}}
                {{> menuitem}}
            {{/each}}
        </ul>
    </nav>
</template>

<template name="menuitem">
    <li id="{{key}}" class="mm-item {{getClass}}">
        {{#if this.subitems.length}}
            <span><i class="mm-md md {{icon}} {{color}}-500"></i>{{text}}</span>
            <ul>
                {{#each this.subitems}}
                    {{> submenuitem}}
                {{/each}}
            </ul>
        {{else}}
            <a href="#/"><i class="mm-md md {{icon}} {{color}}-500"></i>{{text}}</a>
        {{/if}}
    </li>
</template>

<template name="submenuitem">
    <li id="{{key}}" class="mm-item {{getClass}}">
        <a href="#/"><i class="md {{icon}} {{color}}-500"></i> {{text}}</a>
    </li>
</template>