<template name="headerunauth" >
    <nav id="headerunauth" class="navbar navbar-default navbar-fixed-top blue-500-bg">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Toduo</a>
            <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><button id="signin" class="btn btn-plain">Sign in</button></li>
                    <li><button id="signup" class="btn btn-primary-orange">Sign up</button></li>
                </ul>
            </div>
        </div>
    </nav>
</template>