<template name="moredropdown">
    <ul class="dropdown-menu dm-icon pull-right">
        <li id="fullscreen">
            <a href="#" data-action="fullscreen"><i class="md md-fullscreen"></i> Toggle Fullscreen</a>
        </li>
        <li id="clear-localstorage">
            <a data-action="clear-localstorage" href="#"><i class="md md-delete"></i> Clear Local Storage</a>
        </li>
        <li id="clear-state">
            <a data-action="clear-state" href="#"><i class="md md-autorenew"></i> Clear State</a>
        </li>
        <li id="privacy">
            <a data-action="privacy" href="#"><i class="md md-person"></i> Privacy Settings</a>
        </li>
        <li id="other">
            <a data-action="settings" href="#"><i class="md md-settings"></i> Settings</a>
        </li>
    </ul>
</template>