<template name="profilesignout">

    <div id="profile-menu" class="dropdown-menu pull-right">
        <div class="listview">
            <div class="lv-profile c-overflow">
                <a class="lv-item" href="">
                    <div class="media">
                        <div class="pull-left">
                            <img src="/images/profilepic56.png" alt="">
                        </div>
                        <div class="media-body">
                            <div class="lv-title">{{userName}}</div>
                            <small class="lv-small">name@gmail.com</small>
                            <button id="account" class="btn btn-primary btn-raised btn-sm">My Account</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="lv-footer-btns" href="">
                <button id="signout" class="btn btn-default btn-raised pull-right">Sign out</button>
            </div>
        </div>
    </div>

</template>