<template name="remindersdropdown">
    <div id="reminders-menu" class="dropdown-menu dropdown-menu-lg pull-right">
        <div class="listview" id="notifications">
            <div class="lv-header">
                Reminders
                <ul class="actions">
                    <li class="dropdown">
                        <a href="" data-clear="notification">
                            <i class="md md-done-all"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="lv-body c-overflow">
                {{#each reminders}}
                    {{> reminder}}
                {{/each}}
            </div>
        </div>
    </div>
</template>

<template name="reminder">
    <a id="{{formatId _id}}" class="lv-item" href="">
        <div class="media">
            <div class="pull-left">
                <i class="md-notifications"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">{{datedisplay}}</div>
                <small class="lv-small">{{reminder}}</small>
            </div>
        </div>
    </a>
</template>

<!--<template name="reminder">-->
    <!--<a id="{{formatId _id}}" class="lv-item" href="">-->
        <!--<div class="media">-->
            <!--<div class="pull-left">-->
                <!--<div id="{{formatId _id}}-cont" class="checkbox">-->
                    <!--<label>-->
                        <!--<input id="{{formatId _id}}-chk" type="checkbox" {{isChecked}}>-->
                    <!--</label>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="media-body">-->
                <!--<div class="lv-title">{{title}}</div>-->
                <!--<small class="lv-small">{{description}}</small>-->
            <!--</div>-->
        <!--</div>-->
    <!--</a>-->
<!--</template>-->
