
<template name="tasksdropdown">
    <div id="reminders-menu" class="dropdown-menu dropdown-menu-lg pull-right">
        <div class="listview" id="notifications">
            <div class="lv-header">
                To duo today
                <ul class="actions">
                    <li class="dropdown">
                        <a href="" data-clear="notification">
                            <i class="md md-done-all"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="lv-body c-overflow">
                {{#each todotoday}}
                    {{> task}}
                {{/each}}
                <!--<a id="Y6u253ydj0eEoSPhUOg-Zg" class="lv-item" href="">-->
                    <!--<div class="media">-->
                        <!--<div class="pull-left">-->
                            <!--<div id="Y6u253ydj0eEoSPhUOg-Zgcont" class="checkbox">-->
                                <!--<label>-->
                                    <!--<input id="Y6u253ydj0eEoSPhUOg-Zgchk" type="checkbox" checked="{{checked}}">-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="media-body">-->
                            <!--<div class="lv-title">Scheduled appt</div>-->
                            <!--<small class="lv-small">Cum sociis natoque penatibus et magnis dis parturient montes</small>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
                <!--<a id="-DV4IupS5k_G5BRDS9WCvQ" class="lv-item" href="">-->
                    <!--<div class="media">-->
                        <!--<div class="pull-left">-->
                            <!--<div id="-DV4IupS5k_G5BRDS9WCvQcont" class="checkbox">-->
                                <!--<label>-->
                                    <!--<input id="-DV4IupS5k_G5BRDS9WCvQchk" type="checkbox" checked="{{checked}}">-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="media-body">-->
                            <!--<div class="lv-title">Healthy habit</div>-->
                            <!--<small class="lv-small">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</small>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
                <!--<a id="6DHLfgyOt0Oziji6lF9Y8A" class="lv-item" href="">-->
                    <!--<div class="media">-->
                        <!--<div class="pull-left">-->
                            <!--<div id="6DHLfgyOt0Oziji6lF9Y8Acont" class="checkbox">-->
                                <!--<label>-->
                                    <!--<input id="6DHLfgyOt0Oziji6lF9Y8Achk" type="checkbox" checked="{{checked}}">-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="media-body">-->
                            <!--<div class="lv-title">Be proactive</div>-->
                            <!--<small class="lv-small">Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies</small>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
                <!--<a id="fgm4s8UiKU6PaRybKV18oQ" class="lv-item" href="">-->
                    <!--<div class="media">-->
                        <!--<div class="pull-left">-->
                            <!--<div id="fgm4s8UiKU6PaRybKV18oQcont" class="checkbox">-->
                                <!--<label>-->
                                    <!--<input id="fgm4s8UiKU6PaRybKV18oQchk" type="checkbox">-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="media-body">-->
                            <!--<div class="lv-title">Scheduled event</div>-->
                            <!--<small class="lv-small">Ut vitae lacus sem ellentesque maximus, nunc sit amet varius dignissim, dui est consectetur neque</small>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
                <!--<a id="BIZVzJQVakqMnckcn-PqPA" class="lv-item" href="">-->
                    <!--<div class="media">-->
                        <!--<div class="pull-left">-->
                            <!--<div id="BIZVzJQVakqMnckcn-PqPAcont" class="checkbox">-->
                                <!--<label>-->
                                    <!--<input id="BIZVzJQVakqMnckcn-PqPAchk" type="checkbox" checked="{{checked}}">-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="media-body">-->
                            <!--<div class="lv-title">Follow up</div>-->
                            <!--<small class="lv-small">Proin laoreet commodo eros id faucibus. Donec ligula quam, imperdiet vel ante placerat</small>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            </div>

            <a class="lv-footer" href="">View All</a>
        </div>

    </div>
</template>

<template name="task">
    <a id="{{formatId _id}}" class="lv-item" href="">
        <div class="media">
            <div class="pull-left">
                <div id="{{formatId _id}}-cont" class="checkbox">
                    <label>
                            <input id="{{formatId _id}}-chk" type="checkbox" {{isChecked}}>
                    </label>
                </div>
            </div>
            <div class="media-body">
                <div class="lv-title">{{title}}</div>
                <small class="lv-small">{{description}}</small>
            </div>
        </div>
    </a>
</template>
