
<template name="tasksdropdown">
    <div id="reminders-menu" class="dropdown-menu dropdown-menu-lg pull-right">
        <div class="listview" id="notifications">
            <div class="lv-header">
                To duo today
                <ul class="actions">
                    <li class="dropdown">
                        <a id="checkall" href="">
                            <i class="md md-done-all"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="lv-body c-overflow">
                {{#each todotoday}}
                    {{> task}}
                {{/each}}
            </div>

            <a class="lv-footer" href="">View All</a>
        </div>

    </div>
</template>

<template name="task">
    <a id="{{formatId _id}}" class="lv-item" href="">
        <div class="media">
            <div class="pull-left">
                <div id="{{formatId _id}}-cont" class="checkbox">
                    <label>
                            <input id="{{formatId _id}}-chk" type="checkbox" {{isChecked}}>
                    </label>
                </div>
            </div>
            <div class="media-body">
                <div class="lv-title">{{title}}</div>
                <small class="lv-small">{{description}}</small>
            </div>
        </div>
    </a>
</template>
